.react-calendar-heatmap .color-scale-2 { fill: #eaf1c4; }
.react-calendar-heatmap .color-scale-3 { fill: #a9e482; }
.react-calendar-heatmap .color-scale-4 { fill: #87e783; }
.react-calendar-heatmap .color-scale-5 { fill: #70e478; }
.react-calendar-heatmap .color-scale-6 { fill: #4fda59; }
.react-calendar-heatmap .color-scale-7 { fill: #45d64f; }
.react-calendar-heatmap .color-scale-8 { fill: #35e941; }
.react-calendar-heatmap .color-scale-9 { fill: #3fd749; }
.react-calendar-heatmap .color-scale-10 { fill: #19b323; }
.react-calendar-heatmap .color-scale-11 { fill: #1e6823; }