.image{
  background-image: url('../../../public/kusa.jpg');
  /*バックグラウンドをリピートをなくす*/
  background-repeat: no-repeat;
  /*バックグラウンドを中央に配置する*/
  background-position: center;
  /*バックグラウンドを画面いっぱいに広げる*/
  background-size: cover;
  /* background-size:contain; */
  height: 100vh;
}
body{
  height: 100vh;
}
#root{
  height: 100%;
}
.App{
  height: 100%;
}